<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="NameSpace_featuredproducts" translate="label" type="text" sortOrder="-5000" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label><![CDATA[Featured Products]]></label>
            <tab>namespace</tab>
            <resource>Namespace_FeaturedProducts::config</resource>
            <group id="general" sortOrder="10" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                 
            </group>
        </section>
    </system>
</config>
